*.DS_Store
*.Makefile
*.host.mk
*.ncb
*.ninja
*.props
*.pyc
*.rules
*.scons
*.sdf
*.sln
*.suo
*.target.mk
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*_proto.xml
*_proto_cpp.xml
*~
.*.sw?
.cipd
.classpath
.cproject
.gdb_history
.gdbinit
.landmines
.metadata
.project
.pydevproject
.settings
.sw?
/Makefile
/base
/build
/buildtools
/ios
/mojo
/out
/testing
/third_party
/tools
/tools_webrtc/android/profiling/flamegraph
/tools_webrtc/android/profiling/simpleperf
/tools_webrtc/audio_quality/linux/pesq
/tools_webrtc/audio_quality/linux/PolqaOem64
/tools_webrtc/audio_quality/mac/pesq
/tools_webrtc/audio_quality/win/*.exe
/tools_webrtc/audio_quality/win/*.dll
/tools_webrtc/video_quality_toolchain/linux/ffmpeg
/tools_webrtc/video_quality_toolchain/linux/zxing
/tools_webrtc/video_quality_toolchain/mac/ffmpeg
/tools_webrtc/video_quality_toolchain/mac/zxing
/tools_webrtc/video_quality_toolchain/win/*.dll
/tools_webrtc/video_quality_toolchain/win/*.exe
/rtc_tools/testing/*.zip
/rtc_tools/testing/*.gz
/rtc_tools/testing/golang/*/*.gz
/rtc_tools/testing/golang/*/*.zip
/x86-generic_out/
/xcodebuild
/.vscode
!webrtc/*

 
*/.ipynb_checkpoints
.ipynb_checkpoints/Untitled-checkpoint.ipynb
video/~$视频的编码和发送信息统计.pptx
WebRTC服务质量(Qos)/~$3、RTCP协议.pptx
WebRTC服务质量(Qos)/~$4、WebRTC什么时机判断丢包重传发送NACK请求.pptx
媒体协商/AddTrack.oob
媒体协商/WebRTC_Channel.bpb
1、STUN/doc/~$stun协议格式.pptx
Untitled.ipynb
WebRTC服务质量(Qos)/~$5、NACK格式.pptx
TLSv1.3/TLSv1.3_demo/.vs/TLSv1.3_demo/v15/Browse.VC.db
TLSv1.3/TLSv1.3_demo/.vs/TLSv1.3_demo/v15/Browse.VC.opendb
TLSv1.3/TLSv1.3_demo/.vs/TLSv1.3_demo/v15/ipch/AutoPCH/650bdc6d8cc323f1/CLOG.ipch
媒体协商/RtpSender.oob
媒体协商/WebRTC_AddTrack.oob
媒体协商/webrtc_certificate.oob
媒体协商/WebRTC_certificates.oob
媒体协商/PeerConnnectionFactory.bpb
媒体协商/Jsep_transport_controller.oob
媒体协商/xmind/WebRTC_SDP.md
媒体协商/xmind/新建文本文档 (2).txt
媒体协商/PeerConnectionFactory.oob
媒体协商/RtpTransceiver.oob
